# Black Friday Script

In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Prepare Data
* load data

In [4]:
"""load data"""
os.getcwd()
#os.chdir(path)
train= pd.read_csv('train.csv')
test= pd.read_csv('test.csv')

In [5]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [7]:
train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
train.shape, test.shape

((550068, 12), (233599, 11))

* clean data

In [9]:
gender_dict = {'F':0, 'M':1}
age_dict = {'0-17':0, '18-25':1, '26-35':2, '36-45':3, '46-50':4, '51-55':5, '55+':6}
city_dict = {'A':0, 'B':1, 'C':2}
stay_dict = {'0':0, '1':1, '2':2, '3':3, '4+':4}

In [10]:
train["Gender"] = train["Gender"].apply(lambda x: gender_dict[x])
train["Age"] = train["Age"].apply(lambda x: age_dict[x])
train["City_Category"] = train["City_Category"].apply(lambda x:city_dict[x])
train["Stay_In_Current_City_Years"] = train["Stay_In_Current_City_Years"].apply(lambda x:stay_dict[x])

In [11]:
test["Gender"] = test["Gender"].apply(lambda x: gender_dict[x])
test["Age"] = test["Age"].apply(lambda x: age_dict[x])
test["City_Category"] = test["City_Category"].apply(lambda x:city_dict[x])
test["Stay_In_Current_City_Years"] = test["Stay_In_Current_City_Years"].apply(lambda x:stay_dict[x])

Note: don't run above code twice. as data has already changed. It will through error for key not found.

In [24]:
def getCountVar(compute_df, count_df, var_name):
    grouped_df = count_df.groupby(var_name)
    count_dict = {}
    print(grouped_df)
    for name, group in grouped_df:
        count_dict[name] = group.shape[0]
        #print(group)
    #print(count_dict)
    count_list = []
    for index, row in compute_df.iterrows():
        name = row[var_name]
        count_list.append(count_dict.get(name, 0))
    #print(count_list)
    return count_list

In [25]:
print ("Getting features count..")

Getting features count..

In [31]:
train["Age_Count"] = getCountVar(train, train, "Age")
test["Age_Count"] = getCountVar(test, train, "Age")

Getting count features..

In [32]:
train["Occupation_Count"] = getCountVar(train, train, "Occupation")
test["Occupation_Count"] = getCountVar(test, train, "Occupation")

In [33]:
train["Product_Category_1_Count"] = getCountVar(train, train, "Product_Category_1")
test["Product_Category_1_Count"] = getCountVar(test, train, "Product_Category_1")

In [34]:
train["Product_Category_2_Count"] = getCountVar(train, train, "Product_Category_2")
test["Product_Category_2_Count"] = getCountVar(test, train, "Product_Category_2")

In [35]:
train["Product_Category_3_Count"] = getCountVar(train, train, "Product_Category_3")
test["Product_Category_3_Count"] = getCountVar(test, train, "Product_Category_3")

In [36]:
train["Product_Category_3_Count"] = getCountVar(train, train, "Product_Category_3")
test["Product_Category_3_Count"] = getCountVar(test, train, "Product_Category_3")

In [37]:
train["User_ID_Count"] = getCountVar(train, train, "User_ID")
test["User_ID_Count"] = getCountVar(test, train, "User_ID")

In [38]:
train["Product_ID_Count"] = getCountVar(train, train, "Product_ID")
test["Product_ID_Count"] = getCountVar(test, train, "Product_ID")

In [39]:
train.fillna(-999, inplace=True)
test.fillna(-999, inplace=True)

train.to_csv("train_mod.csv", index=False)
test.to_csv("test_mod.csv", index=False)

# Train Model

In [27]:
train = pd.read_csv("train_mod.csv")
test = pd.read_csv("test_mod.csv")
print(train.shape, test.shape)

(550068, 19) (233599, 18)